<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">



<div style="text-align:center" class="header">
  <h1>
    Welcome to {{title}}!
    {{message}}
    <script>
      
    </script>
  </h1>
  <nav>
    <button class = "pure-button" routerLink='/addNewMember' (click)="onclick()">Add New Member</button>
    <button class = "pure-button" routerLink='/editMember'>Edit Member</button>
    <router-outlet></router-outlet>
  </nav>
</div>


